<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
<div class="container">

    <h1>Coronavirus Tracker Application</h1>
    <p>This application lists the current number of cases reported across the globe </p>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}">Hello, world!</h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
        <p>
            <span>New cases reported since the previous day</span>
            <span th:text="${totalNewCases}"></span>
        </p>




    </div>
    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Cases reported</th>
            <th>Changes since last day </th>
        </tr>
        <tr th:each="locationStats : ${locationStats}">
            <td th:text="${locationStats.state}"></td>
            <td th:text="${locationStats.country}"></td>
            <td th:text="${locationStats.latestTotalCases}">0</td>
            <td th:text="${locationStats.diffFromPrevDay}">0</td>

        </tr>
    </table>
</div>

</body>

</html>